/* Estilo geral da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e0f7fa;
}

/* Estilo do container do quiz */
.quiz-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Título do quiz */
.quiz-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo das perguntas */
.question-container {
    display: block;
    margin-bottom: 20px;
}

/* Estilo das opções de resposta */
.options label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Botões */
button {
    background-color: #00796b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #004d40;
}

button:disabled {
    background-color: #b2dfdb;
}

/* Estilo do botão "Próxima Pergunta" */
.next-btn {
    display: inline-block;
}

/* Estilo do botão "Enviar Respostas" */
.submit-btn {
    display: none;
}
