body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('assets/images/natureza1.jpg');
    background-size: cover;
    background-position: center;
}

.quiz-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #4CAF50;
    font-size: 2em;
}

#question-container {
    margin: 20px 0;
}

#answers {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #45a049;
}